# 开发环境：直连阿里云后端（如需）
# VITE_GN_API_BASE_URL=http://120.55.70.218:80/api/gn
# VITE_AREA2_API_BASE_URL=http://120.55.70.218:80/api/area2

# 生产环境：同源请求（默认）
VITE_GN_API_BASE_URL=/api/gn
VITE_AREA2_API_BASE_URL=/api/area2
